.infoBox {
   flex: 1;
   cursor: pointer;
}

.infoBox:not(:last-child) {
   margin-right: 15px;
}

.infoBox__cases {
   color: goldenrod;
   font-weight: 600;
   font-size: 1.75rem;
   margin-bottom: 0.5rem;
}

.infoBox--selected {
   border-top: 10px solid green;
}

.infoBox--red {
   border-color: goldenrod;
}

.infoBox__cases--green {
   color: green;
}

.infoBox--grey {
   border-color: darkred;
}

.infoBox__cases--grey {
   color: darkred;
}

.infoBox__total {
   color: #6c757d;
   font-weight: 700 !important;
   font-size: 0.8rem !important;
   margin-top: 15px !important;
}


@media (max-width: 400px) {
   .infoBox {
   
      cursor: pointer;
      align-content: center;
   }
   .infoBox__title, .infoBox__cases, .infoBox__total {
      text-align: center;
   }

   .infoBox:not(:last-child) {
      margin-right: 0px;
   }
}