* {
   margin: 0;
}

/* Grey Background Color */
body {
   background-color: #f5f6fa;
}

.app {
   /* Flex for putting elements in a row , justify content to space the elements betwenn window borders and elments envenly */
   display: flex;
   justify-content: space-evenly;
   padding: 20px;
}

.app_dropdown {
   background-color: white;
}

.app_header > h1 {
   margin: 1em 0 0.5em 0;
   color: #343434;
   font-weight: bold;
   font-size: 30px;
   line-height: 40px;
   font-family: "Orienta", sans-serif;
}

.app_LivecasesTitle {
   margin: 1em 0 0.5em 0;
   color: #343434;
   font-weight: bold;
   font-size: 22px;
   line-height: 40px;
   font-family: "Orienta", sans-serif;
}

.app_header {
   /* Flex for putting elements in a row , justify content to space the elements betwenn each other in all the width of the parent div */
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

/* Tell container app:left to take 90% of the row  */
.app_left {
   flex: 0.9;
}

.app_stats {
   /* Flex for putting elements in a row , justify content to space the elements betwenn each other in all the width of the parent div*/
   display: flex;
   justify-content: space-between;
}

.app_right {
   display: flex;
   flex-direction: column;
}

.app_right .MuiCardContent-root {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.app_graph {
   flex-grow: 1;
}

.app_graphTitle {
   margin-top: 10px;
   margin-bottom: 20px;
   margin: 1em 0 0.5em 0;
   color: #343434;
   font-weight: bold;
   font-size: 22px;
   line-height: 40px;
   font-family: "Orienta", sans-serif;
}

.app_title {
}

/* When width is below 990px put app components beneath each other intead of row  */
@media (max-width: 990px) {
   .app {
      flex-direction: column;
   }
}


@media (max-width: 400px) {
   .app_stats {
      /* Flex for putting elements in a row , justify content to space the elements betwenn each other in all the width of the parent div*/
      flex-direction: column;
      justify-content: space-between;
   
   }
   .app_header {
      flex-direction: column;
      
   }
}